
    <style>
      body { margin: 0; padding: 0; background: #e6e8eb; font-family: "Lucida Grande", Tahoma, Helvetica, San Francisco, Roboto, Segoe UI ; }

      #barra { height: 43px; background-color: #334f8d; position: fixed; top: 0; left: 0; right: 0; z-index: 100000000; }
      #contenidor { /* height: 1500px; */ width: 852px; background-color: #FFF; margin: 0 auto; font-family: Helvetica;}
      #portada { height: 315px; background-image: url(../img/portada.jpg); margin-top: 43px; }
      #nom { background-color: ; width: 320px; position: relative; top: 269px; left: 200px; color: #FFF; text-shadow: 0 0 2px black; font-family: "Lucida Grande", Tahoma, San Francisco, Roboto, Segoe UI ;  }
      #perfil { background-color: pink; border: solid 2px white; border-radius: 4px; position: relative; left: 20px; top: 131px; box-shadow: 0px 0px 1px #333;}
      #menu { height: 44px; background-color: #e6e8eb; padding: 0 0 0 0px; margin: 0 0 0 192px; width: 452px; border-bottom:  1px solid #e6e8eb; }
      #menu li { float: left;  padding: 0 15.25px; display: block; font-weight: bold; color: #334f8d; background-color: #FFF; margin-right: 1px; height: 44px; margin: 0 0 0 1px; line-height: 44px; }
      #menu li:hover { color: #000; background-image: url(../img/select.gif); background-repeat: no-repeat; background-position: 50% 37px; }
      #contingut { border-top: 1px solid #e6e8eb; }
      .esquerra { width: 323px; /*height: 323px;*/ /*background-color: pink;*/ margin: 10px 0; border: solid 1px #AAA; border-radius: 3px; padding: 0px; }
      .esquerra ul { margin-top: 20px; }
      .esquerra h4 { background-color: yellow; height: 14px; padding: 5px; font-weight: normal; font-size: 18px; text-indent: 36px; background-image: url(../img/lateral.png); background-repeat: no-repeat; margin: 0; }

      #presentacio li { display: block; background-image: url(../img/iconetes/icones_estudis.png); background-repeat: no-repeat; text-indent: 15px;
      height: 30px; border-top: solid 1px grey; font-size: 12px; }
          #presentacio .domicili { background-image: url(../img/iconetes/icones_domicili.png); }
          #presentacio .feina { background-image: url(../img/iconetes/icones_feina.png); }
          #presentacio .relacio { background-image: url(../img/iconetes/icones_sentimental.png); }
          #presentacio .esdeveniments { background-image: url(../img/iconetes/icones_esdeveniments.png); }
          #presentacio .pagina { background-image: url(../img/iconetes/icones_feina.png); }

       #presentacio h4 { background-position: 0 0 ; }
       #fotos h4 { background-position: 0 -24px; }
       #fotos li { display: block; }
     #fotos ul { background-color: ; overflow: hidden; margin: 0; padding: 0; position: relative; /*top: -20px;*/ }
       #fotos ul li { background-color: red; display: block; width: 99px; height: 99px; margin: 4px; float: left; background-size: 99px 99px; color: transparent; }
          #f01 { background-image: url(../img/fotos/f01.jpg); }
          #f02 { background-image: url(../img/fotos/f02.jpg); }
          #f03 { background-image: url(../img/fotos/f03.jpg); }
          #f04 { background-image: url(../img/fotos/f04.jpeg); }
          #f05 { background-image: url(../img/fotos/f05.jpg); }
          #f06 { background-image: url(../img/fotos/f06.jpg); }
          #f07 { background-image: url(../img/fotos/f07.jpg); }
          #f08 { background-image: url(../img/fotos/f08.jpg); }
          #f09 { background-image: url(../img/fotos/f09.jpg); }


       #amics h4 { background-position: 0 -48px; }
       #amics ul { background-color: ; overflow: hidden; margin: 0; padding: 0; position: relative; /*top: -20px;*/ }
       #amics ul li { background-color: red; display: block; width: 99px; height: 99px; margin: 4px; float: left; background-size: 99px 99px; color: transparent; color: white; text-indent: 5px; line-height: 170px; text-shadow: 0 0 2px #000; }
          #a01 { background-image: url(../img/perfil.jpg);}
          #a02 { background-image: url(../img/perfil.jpg);}
          #a03 { background-image: url(../img/perfil.jpg);}
          #a04 { background-image: url(../img/perfil.jpg);}
          #a05 { background-image: url(../img/perfil.jpg);}
          #a06 { background-image: url(../img/perfil.jpg);}
          #a07 { background-image: url(../img/perfil.jpg);}
          #a08 { background-image: url(../img/perfil.jpg);}
          #a09 { background-image: url(../img/perfil.jpg);}


    </style>
